<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "courses/courses_style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "blog/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "blog/media.css" %}">
    <link rel="icon" type="image/gif" href="{% static "blog/images/favicon.ico" %}">
    <title></title>
</head>
<body>
    {% include 'blog/menu_var.html' %}
    {% block content %}

    {% endblock content %}
    {% include 'blog/footer.html' %}
</body>
</html>
