{% extends 'courses/base.html' %}
{% block content %}
{% load static %}

<section class="course-description">
    <h1>All courses available</h1>
    {% if user.is_authenticated and user.is_staff %}
    <div class="create-new-course">
        <a href="{% url 'courses:create_course' %}">Create a new course</a>
    </div>
    {% endif %}
    {% for course in courses %}
    <fieldset>
        <legend>{{course.course_name}}</legend>
        <img id ="img-course" src="{{ course.image.url }}" width="240" height="240" alt="python-course">
        <p>{{ course.description }}</p>
        <p>and Why {{course.course_name }}?...</p>
        <ul>
            {% for key, details in course.details.items %}
            <li>{{details}}</li>
            {% endfor %}
        </ul>
        <aside>
            <p>More about <a href="{% url 'courses:course_view' course.id %}"><strong>{{course.course_name}}</strong></a></p>
        </aside>
        <a class="pricing" href="{% url 'courses:course_packages' fk=course.id %}">Pricing</a>
    </fieldset>
    {% endfor %}
</section>
{% endblock content %}
