
{% extends 'student/base.html' %}
{% block content %}
{% if user.is_authenticated %}
{% load static %}

<div class="container">
    <div id="monthDisplay">
    </div>
    <div class="header">
        <div class="buttonMonths">
            <button id="backButton"><strong>Back</strong></button>
            <button id="nextButton"><strong>Next</strong></button>
        </div>
    </div>
    <div class="weekdays">
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
    </div>
    <div class="weekdays-ipad">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
    </div>
    <div class="weekdays-mobile">
        <div>S</div>
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
    </div>
    <div id="calendar">
    </div>
    <div id="newEventModal">
        <h2>New event</h2>
        <input id="eventTitleInput" type="input" placeholder="Event Title" />
        <button id="saveButton">Save</button>
        <button id="cancelButton">Cancel</button>
    </div>
    <div id="deleteEventModal">
        <h2>Event</h2>
        <p id="eventText"></p>
        <button id="deleteButton">Delete</button>
        <button id="closeButton">Close</button>
    </div>
    <div id="modalBackDrop"></div>
</div>
<script src="{% static "student/js/calendar.js" %}"></script>
{% endif %}
{% endblock %}

