.container{
    width: 80%;
    margin: 2rem auto;
}
#calendar{
    background-color: var(--bluedark);
}

.weekdays, #calendar, .weekdays-mobile, .weekdays-ipad{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 5px;
    padding: 10px;
    border: 2px solid black;
}

.day{
    position:relative;
    text-align: right;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    background-color: var(--turquoise);
}

.padding{
    background-color: #B9E9FF;
}


#currentDay{
    background-color: grey; 
}

.weekdays-ipad{
    display: none;
}

.weekdays-mobile{
    display: none;
}

.buttonMonths{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

#backButton, #nextButton{
    background-color: var(--bluedark);
    border: 2px solid var(--turquoise);
    border-radius: 5px;
    color: var(--turquoise);
    cursor: pointer;
}

#backButton:hover, #nextButton:hover{
    background-color: var(--turquoise);
    color: var(--bluedark);
    border: 2px solid var(--bluedark);
}


