@media (max-width: 1440px){
    .links a{
        padding: 0 15px;
    }
    .search-box:hover > .search-txt {
        width: 150px;
    }
}


@media (max-width: 1198px){
    .logo{
        display: none;
    }
    .search-field{
        left: 240px;
    }
    .links{
        padding: 0 0 0 11rem;
    }
    .menu ul{
        padding: 0;
    }
    .languages p{
        display: none;
    }
	.particles-section{
		height: 400px;
	}
	.create-account form, .login-account form, .courses{
		width: 50%;
	}
}


@media (max-width: 898px){
    .links{
        padding: 0 0 0 4rem;
    } 
    .search-field{
        display: none;
    }
    
    .languages p{
        display: none;
    }
	.particles-section{
		height: 350px;
	}
	.create-account form, .login-account form, .courses{
		width: 60%;
	}

}

@media (max-width: 740px){
    .menu{
        visibility: hidden;
    } 

    .languages{
        display: none;
    }

    .links {
        display: none;
    }

    .links-burguer{
       display: block; 
       height: 0;
    }

    .course{
        padding: 0;
    }
    
    .particles-section{
		height: 300px;
    }
	.space-menu{
		display: none;
	}
	.create-account form, .login-account form, .courses{
		width: 70%;
	}
}

@media(max-width: 680px){
    .footer-distributed{
        display: block;
    }
    .footer-left{
        width: unset;
    }
    .footer-center{
        width: unset;
        margin: 2rem 0;
    }
    .footer-right{
        width: unset;
    }

    .price{
        margin: 0;
    }
	.particles-section{
		height: 250px;
	}
	.create-account form, .login-account form, .courses {
		width: 80%;
	}
}

@media(max-width: 414px){
    .course{
        padding: 0;
    }
	.particles-section{
		height: 200px;
	}
	.create-account form, .login-account form, .courses{
		width: 100%;
	}
}
