@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* The var menu section */
:root{
	--bluedark: #0C0D13;
	--bluedark2: #014A8E;
	--turquoise: #00AEFF;
	--text-size: 16px;
	--text-title: 24px;
}

*{
  font-family: "Poppins","Times New Roman", Times;
  word-break: break-word;
  white-space: normal;
}

body {
  margin: 0;
}
.container{
    display: block;
    width: 80%;
    margin: 0 auto;
}

hr{
  background-color: var(--turquoise);
  border: 2px solid var(--turquoise);
  margin: 2rem auto;
}


.menu {
  position: fixed;
  display: flex;
  top: 0;
  background-color: var(--bluedark);
  color: var(--turquoise);
  justify-content: space-between;
  width: 100vw; 
  height: 4rem;
  z-index: 20;
}

.menu ul{
  display: inline-block;
  margin: 0;
  height: 100%;
}

.links a, .links-burguer a{
  white-space: nowrap; 
  text-decoration: none;
  color: var(--turquoise);
  display: flex; 
  height: 100%;
  align-items: center;
  padding: 0 50px;
}

.links a:hover, .links-burguer a:hover{
  color:var(--bluedark);
  background-color: var(--turquoise);
}

.links-burguer{
    display: none;
}

.links-burguer img{
    width: 4rem;
    height: 3.5rem;
}

.logo{
  display: flex;
  margin-left: 2rem;
  align-items: center;
  justify-content: center;
}

.logo p{
  margin-left: 25px;
}

.logo-img img{
  width: 24px;
  height: 30px;
}

.links li{
    list-style-type: none;
    display: inline-block;
    height: 100%;
}

#menu_toggle{
    opacity: 0;    
    display: none;
}

.menu_btn{
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 21;
	background-color: white;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.menu_btn > span, .menu_btn > span::before, .menu_btn > span::after{
    display: block;
    position: absolute;
	width: 27px;
    height: 5px;
    background-color:var(--bluedark);
}

.menu_btn > span::before{
    content: '';
    top: -9px;
}

.menu_btn > span::after{
    content: '';
    top: 9px;
}

.menu-box{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: var(--bluedark);
    box-shadow: 1px 0 6px rgba(0,0,0,0.8);
    z-index: 20;
}
.menu-box p{
	color: var(--turquoise);
}

.menu-box a{
    display: block;
    padding: var(--text-size) 24px;
    color: var(--turquoise);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu-box a:hover{
    background-color: var(--turquoise);
    color: var(--bluedark);
}

#menu_toggle:checked ~.menu_btn{
	background-color: var(--bluedark);
}

#menu_toggle:checked ~.menu_btn > span{
    transform: rotate(45deg);
}

#menu_toggle:checked ~.menu_btn > span::after{
    top: 0;
    transform: rotate(90deg);
}

#menu_toggle:checked ~.menu_btn > span::before{
    top: 0;
    transform: rotate(0);
}

#menu_toggle:checked ~.menu-box{
    visibility: visible;
    left: 0;
}

.menu_btn > span, .menu_btn > span::before, .menu_btn > span::after{
    transition-duration: .25s;
    background-color: var(--turquoise);
}
.menu-box, .menu-box a{
    transition-duration: .25s;
}

.space-menu{
	display: block;
	height: 4rem;
	width: 100%;
}

.languages{
  display: flex;
  min-width: 6rem;
  justify-content: center;
}

.languages img{
    display: flex;
    width: 30%;
    height: 40%;
    margin: auto 0;
}

.search-field{
  display: flex;
  text-align: center;
  margin: -15px 10px;
  justify-content: space-between;
  position: relative;
  left: 150px;
}

.search-box{
  position: absolute; 
  transform: translate(-100%, 50%);
  background: #0C0D13;
  border: 2px solid var(--turquoise);
  border-radius: 25px;
  color: var(--turquoise);
  display: flex;
}

.search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bluedark);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: var(--turquoise);
  cursor: pointer;
  text-decoration: none;
  outline: none;
  font-size: 10px;
  border: 0;
}

.search-box:hover > .search-btn {
  background: var(--turquoise);
  color: var(--bluedark);
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: var(--turquoise);
  font-size: 12px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}

.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 10px;
}
/* The var menu section */

/* ================== */

/* ================== */


/* The footer section */

.footer-distributed{
  display: grid;
  grid-template-areas: 'footer-left footer-center footer-right'
 					   'footer-info footer-info footer-info';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 40px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: var(--bluedark);
  box-sizing: border-box;
  text-align: center;
  padding: 20px 20px;
  color: var(--turquoise);
}

.footer-left{
    grid-area: footer-left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-img{
	width: 100px;
	height: 120px;
}

.footer-left img{
    width: 100%;
	height: 100%;
}
.footer-left h3, .footer-company-about{
	margin:0;
}
.footer-center{
    grid-area: footer-center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-info{
    grid-area: footer-info;
    display: flex;
    justify-content: space-evenly;
}

.telephone a, .email a{
	color: var(--turquoise);
	text-decoration: none;
}

.footer-links a {
  display: inherit;
  flex-direction: inherit;
  text-decoration: none;
  color: inherit;
}

.footer-center a{
  text-decoration: none;
  color: var(--turquoise);
}

.header-description a, .logo-link, .course a {
  text-decoration: none;
  background-color: #006FB2;
  color: #FFF;
  font-size: var(--text-size);
  border: 1px var(--turquoise) solid;
  border-radius: 5px;
  padding: 5px;
}


.header-description a:hover, .logo-link:hover, .course a:hover{
  color: #FFF;
  background-color: #007BC6;
  border: solid 1px #79D4FF;
}

.footer-right{
  grid-area: footer-right;
}
.footer-right p{
  margin: 0;
}

.footer-right img{
  display: inline-block; 
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 0.2rem;
}

.facebook, .youtube, .github, .instagram, .twitter {
  text-decoration: none;
}


.rights{
    margin:0;
    text-align: center;
    border: 2px solid var(--turquoise);
    background-color: var(--bluedark);
    color: var(--turquoise);
} 

#language-selection{
	color: var(--turquoise);
	background-color: var(--bluedark);
	border: 2px solid var(--bluedark);
}

#set-language{
	margin: auto;
}


.dropbtn{
	background-color: var(--bluedark);
	color: var(--turquoise);
	border: none;
    font-size: var(--text-size);
}

.dropdown{
	position: relative;
	display: inline-block;
	top: 25%;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: var(--bluedark);
	min-width: 160px;
	z-index: 1;
}

.dropdown-content a{
	color: var(--turquoise);
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: var(--turquoise);
	color: var(--bluedark);
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
	background-color:var(--turquoise);
	color: var(--bluedark);
}

.open-button, .close-button{
    background-color: rgba(0,0,0,0);
    opacity: 0.9;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 5px;
}
.close-button{
    display: none;
}

.open-button img, .close-button img{
    vertical-align: middle;
    width:40px;
    height: 40px;
}

.chat-popup{
    display: none;
    position: fixed;
    bottom: 120px;
    right: 20px;
    z-index: 10;
}

.chat-popup-links{
    display: flex;
    flex-direction: column;
}

.chat-popup img{
    width: 40px;
    height: 40px;
}

#openForm{
    border: none;
    cursor: pointer; 
    background-color: rgba(0,0,0,0);
}

.form-container{
    max-width: 250px;
    padding: 10px;
    display: none;
}

.form-container textarea{
    width: 100%;
    resize: none;
    border: none;
    background-color: #f1f1f1;
    min-height: 100px;
    padding: 0;
    border-radius: 10px;
}

.form-container textarea:focus{
    background-color: #ddd;
    outline: none;
}

.form-container .btn-popup{
    background-color: #04aa6d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    border-radius: 10px;
}
.form-container .cancel{
    background-color: #ff3300;
}

.open-button span{
    left: 50%;
    top: 50%;
    position: absolute;
    background-color: var(--turquoise);
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    border: 2px solid var(--bluedark);
    animation: animate 1s linear infinite;
}

@keyframes animate{
    0%{
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%{
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}

.buttons-form-container{
    display: flex;
}
