<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>{% block title-header %}{% endblock title-header %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv='X-UA-Compatible' content='IE-edge'> 
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta name="keywords" content="{% block keywords %}{% endblock %}" />
  <link rel="canonical" href="{{request.path}}">
  <link rel="stylesheet" type= "text/css" href="{% static "blog/blog_style.css" %}">
  <link rel="stylesheet" type= "text/css" href="{% static "blog/style.css" %}">
  <link rel="stylesheet" type= "text/css" href="{% static "blog/media.css" %}">
  <link rel="icon" type="image/gif" href="{% static "blog/images/favicon.ico" %}">
</head>
<body>
    {% include "blog/menu_var.html" %}
    {% include "blog/particles.html" %}
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
    {% include "blog/footer.html" %}
</body>
</html>




