{% load static %}

<footer class="footer-distributed">
    <div class="footer-left">
      <img src="{% static "blog/images/nico.png" %}" alt="skynet118 logo">
      <h3> skynet118</h3>
      <p class="footer-links">
        <a href="#">Home</a>
        <a href="#">Blog</a>
        <a href="#">Pricing</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </p>
    </div>
    <div class="footer-center">
        <div class="direction">
            <i><strong>Direction: </strong>Saint Petersburg - Russia</i> 
        </div> 
        <div class="telephone">
            <i><strong>Telephone number: </strong><a href="#">+79213161064</a></i> 
        </div> 
        <div class="email">
            <i><strong>Email: </strong><a href="#">nico_8830_3@hotmail.com</a></i> 
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the Skynet118</span>
            I am a developer which thinks that the best way to learn is teaching, I teach kids,
            young people, and adults. I have more than 3 years in teaching and as instructor at 
            the army of my country.
            <br>
            <br>
            <strong><a href="#">Read more!</a></strong>
        </p>
        
        <div class="footer-icons">
            <p>Follow us here: </p>
            <a href="#" class="twitter"></a>

            <a href="#" class="github"></a>

            <a href="#" class="youtube"></a>

            <a href="#" class="facebook"></a>

            <a href="#" class="instagram"></a>
            <i> </i>
        </div>
    </div>
</footer>
<p class="rights"><strong>@skynet118</strong> - all the rights are reserved</p>

















