{% load static %}
{% load i18n %}
<button class="open-button" onclick="openChat()">
    <img src="{% static 'blog/images/messages.png' %}" alt="">
</button>
<button class="close-button" onclick="closeChat()">
    <img src="{% static 'blog/images/close.png' %}" alt="">
</button>
<div class="chat-popup">
    <div class="chat-popup-links">
        <a href="https://wa.me/79213161064">
            <img src="{% static 'blog/images/whatsapp_chat.png' %}" alt="">
        </a>
        <a href="https://vk.me/sulca">
            <img src="{% static 'blog/images/vkontakte_chat.png' %}" alt="">
        </a>
        <a href="https://t.me/skynet118">
            <img src="{% static 'blog/images/telegram_chat.png' %}" alt="">
        </a>
        <!--<a href="">
            <img src="{% static 'blog/images/instagram_chat.png' %}" alt="">
        </a>-->
        <a href="https://m.me/nicolas.sulca.118">
            <img src="{% static 'blog/images/facebook_chat.png' %}" alt="">
        </a>

        <button type="button" id= "openForm">
            <img src="{% static 'blog/images/chat.png' %}" alt="">
        </button>
    </div>
    <form class="form-container" >{% csrf_token %}
        <textarea id="chat-text" placeholder="   Do you have any questions?..." required>
        </textarea>
        <div class="buttons-form-container">
            <button class="btn-popup" onclick="SendForm()" type="button">Send</button>
            <button class="btn-popup cancel" onclick="closeForm()" type="button">Close</button>
        </div>
    </form>
</div>

<footer class="footer-distributed">
    <div class="footer-left">
      <div class="footer-img">
        <img src="{% static "blog/images/nico.png" %}" alt="skynet118 logo">
      </div>
      <h3>skynet118</h3>
      <p class="footer-company-about">
          {% trans 'The best way to learn is teaching' %}
      </p>
    </div>
    <div class="footer-center">
      <p class="footer-links">
          <a href="{% url 'blog:index' %}">{% trans 'Home' %}</a>
          <a href="{% url 'courses:index_course' %}">{% trans 'Courses' %}</a>
          <a href="{% url 'blog:portfolios' %}">{% trans 'About us' %}</a>
          {% if user.is_authenticated %}
              <a href="{% url 'blog:logout' %}">Logout</a>
          {% else %}
              <a href="{% url 'blog:register' %}">{% trans 'Sign up' %}</a>
              <a href="{% url 'blog:login-page' %}">{% trans 'Login' %}</a>
          {% endif %}
      </p>
    </div>
    <div class="footer-right">
        <p>{% trans 'Follow us here' %}: </p>
        <a href="https://twitter.com/nickolas126" class="twitter" target="_blank" >
            <img src="{% static 'blog/images/twitter.svg' %}" alt=""/>
        </a>
        <a href="https://github.com/skynet118" class="github" target="_blank" >
            <img src="{% static 'blog/images/github.svg' %}" alt=""/>
        </a>
        <a href="https://www.youtube.com/channel/UCAKiLWb--TkSDxmFpRMD-UQ" class="youtube" target="_blank" >
            <img src="{% static 'blog/images/youtube.svg' %}" alt=""/>
        </a>
        <a href="https://www.facebook.com/nicolas.sulca.118/" class="facebook" target="_blank" >
            <img src="{% static 'blog/images/facebook.svg' %}" alt=""/>
        </a>
        <a href="https://www.instagram.com/sky.net.118/" class="instagram" target="_blank" >
            <img src="{% static 'blog/images/instagram.svg' %}" alt=""/>
        </a>
    </div>
    <div class="footer-info">
        <div class="direction">
            <i><strong>{% trans 'Direction' %}: </strong>Saint Petersburg - Russia</i> 
        </div> 
        <div class="telephone">
            <i><strong>{% trans 'Telephone number' %}: </strong><a href="#">+79213161064</a></i> 
        </div> 
        <div class="email">
            <i><strong>{% trans 'Email' %}: </strong><a href="#">nico_8830_3@hotmail.com</a></i> 
        </div>
    </div>
    <script src="{% static 'blog/js/popupChat.js' %}"></script>
</footer>
<p class="rights"><strong>@skynet118</strong> - all the rights are reserved</p>
