{% extends 'blog/base.html' %}
{% block description %}
    Do you need coding help with algorithms or programming itself? or maybe some challenge that you want to overcome
or just you want to become a better developer?
We're a team of young developers and designers with years of expertise, we really want to share our experience and knowledge
{% endblock description %}
{% block content %}
{% load static %}
{% load i18n %}
<h1 class="title-blog">Skynet118</h1>
<div class="header-description">
    <div class="left-header">
        <p>{% trans 'Do you need coding help with algorithms or programming itself? or maybe some challenge that you want to overcome, or just you want to become a better developer?' %}</p> 
        <img src="{% static 'blog/images/linux_penguin.png' %}" alt="penguin linux">
    </div>
    <div class="right-header">
        <img class="logo-header" src="{% static "blog/images/nico.png" %}">
        <p>{% trans 'Do not waste time searching hours. Here you will find classes from basic level to advanced in programming.' %}</p>
    </div>
    <strong class="header-link"><a href="{% url 'blog:portfolios' %}">{% trans 'Read more!' %}</a></strong> 
</div>
<hr>
<div class="about-us">
  <div class="world-map">
    <h2>Our students around the world</h2>
    <img class="world-map-img" src="{% static 'blog/images/world.svg' %}" alt="">
  </div>
  <h2>{% trans 'About us' %}</h2>
  <p>{% trans "We're a team of young developers and designers with years of expertise, we really want to share our experience and knowledge  . . . " %}<a href="{% url 'blog:portfolios' %}">{% trans 'continue.' %}</a></p>
</div>

{% include "blog/slides.html" %} 

{% endblock content %}
