{% extends 'blog/base.html' %}

{% block content %}
<section class="login-account">
    <h1>Start Learning!</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <section>
            <input type="text" name="username" id="login_user" placeholder="  User Name">
        </section>
        <section>
            <input type="password" name="password" id="login_password" placeholder= "  Password">
        </section>

        <input type="submit" value="Log in" id="login">
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        <p style="font-size: 18px; color: grey;" >Don't have an account? <a href="{% url 'blog:register' %}"><strong>Sign up</strong></a></p>
    </form>
</section>
{% endblock %}

