{% load static %}

<header class="menu">
    <div class="logo">
        <div class="logo-img">
            <img src="{% static 'blog/images/nico.png' %}"> 
        </div>
        <p>Skynet118</p>
    </div>
    <div class="search-field">
        <form class="search-box" action="" method="GET">
            <input type="text" name="text" class="search-txt" placeholder="Search here">
            <input type="submit" name="submit" class="search-btn" value="Search">
            <i> </i>
        </form>
    </div>
    <nav class="links">
        <ul> 
            <li><a href="#">Home</a></li>
            <li><a href="#">Topics</a></li>
            <li><a href="#">About me</a></li>
            <li><a href="#">Sign up</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
    <div class="languages">
        <p>Lang</p>
        <div class="language">
            <a href="#"><img src="{% static 'blog/images/world_language.svg' %}"></a>
            <a href="#"><img src="{% static 'blog/images/vector.svg' %}"></a>
        </div>
    </div>
</header>

