{% load static %}
{% load i18n %}
<header class="menu">
    <div class="logo">
        <div class="logo-img">
            <img src="{% static 'blog/images/nico.png' %}">
        </div>
        <p>Skynet118</p>
    </div>
    <div class="search-field">
        <form class="search-box" action="" method="GET">
            <input type="text" name="text" class="search-txt" placeholder="{% trans 'Search here' %}">
            <input type="submit" name="submit" class="search-btn" value="Search">
            <i> </i>
        </form>
    </div>
    <nav class="links">
        <ul> 
            <li><a href="{% url 'blog:index' %}">Home</a></li>
            <li><a href="{% url 'courses:index_course' %}">Courses</a></li>
            <li><a href="{% url 'blog:profile' %}">About me</a></li>
            <!--<li><a href="#">Sign up</a></li>
            <li><a href="#">Login</a></li>
            -->
        </ul>
    </nav>
    <div class="languages">
        <form id="set-language" action="{% url 'set_language' %}" method="POST">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select id="language-selection" name="language" onchange='changeLanguage(this.value, "{% url 'set_language' %}")'>
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{language.code}}" 
                        {% if language.code == LANGUAGE_CODE %} selected {% endif %}
                        style="background-color:#0C0D13; color:#00AEFF; border:2px solid #00AEFF;">
                        {{language.name_local}}({{language.code}})
                    </option>
                {% endfor %}
            </select>
        </form>
        <div id="content-hidden"></div>
        <h1>{% trans 'hello world' %}</h1>
    </div>
</header>
<nav class="links-burguer">
   <input type="checkbox" id="menu_toggle">
   <label for="menu_toggle" class="menu_btn"><span></span></label>
   <ul class="menu-box">
       <li><a href="{% url 'blog:index' %}">Home</a></li>
       <li><a href="{% url 'courses:index_course' %}">Courses</a></li>
       <li><a href="{% url 'blog:profile' %}">About me</a></li>
       <!--<li><a href="#">Sign up</a></li>
       <li><a href="#">Login</a></li>
       -->
   </ul>
</nav>
<span class="space-menu"></span>
<script src="{% static 'blog/js/languages.js' %}"></script>
