{% load static %}
{% load i18n %}
<header class="menu">
    <div class="logo">
        <div class="logo-img">
            <img src="{% static 'blog/images/nico.png' %}">
        </div>
        <p>Skynet118</p>
    </div>
    <div class="search-field">
        <form class="search-box" action="" method="GET">
            <input type="text" name="text" class="search-txt" placeholder="{% trans 'Search here' %}">
            <input type="submit" name="submit" class="search-btn" value="Find">
        </form>
    </div>
    <nav class="links">
        <ul> 
            <li><a href="{% url 'blog:index' %}">{% trans 'Home' %}</a></li>
            <li><a href="{% url 'courses:index_course' %}">{% trans 'Courses' %}</a></li>
            <li><a href="{% url 'blog:portfolios' %}">{% trans 'About us' %}</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'blog:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'blog:register' %}">Sign up</a></li>
            <li><a href="{% url 'blog:login-page' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div>
        {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="dropbtn">{{request.user}}</button>
                <div class="dropdown-content">
                    <a href="{% url 'student:calendar' request.user %}">My courses</a>
                    {% if user.is_staff %}
                        <a href="{% url 'blog:profile' request.user.id %}">My profile</a>
                        <a href="{% url 'blog:portfolio' request.user.id %}">My portfolio</a>
                    {% else %}
                        <a href="">My profile</a>
                    {% endif %}
                    <a href="{% url 'blog:logout' %}">Logout</a>
                </div>
            </div>
        {% endif %}
    </div>
    <div>
    </div>
    <div class="languages">
        <form id="set-language" action="{% url 'set_language' %}" method="POST">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select id="language-selection" name="language" onchange='changeLanguage(this.value, "{% url 'set_language' %}")'>
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{language.code}}" {% if language.code == LANGUAGE_CODE %} selected {% endif %} style="background-color:#0C0D13; color:#00AEFF; border:2px solid #00AEFF;">
                        ({{language.code}})
                    </option>
                {% endfor %}
            </select>
        </form>
        <div id="content-hidden"></div>
    </div>
</header>
<nav class="links-burguer">
   <input type="checkbox" id="menu_toggle">
   <label for="menu_toggle" class="menu_btn"><span></span></label>
   <ul class="menu-box">
       <li><a href="{% url 'blog:index' %}">{% trans 'Home' %}</a></li>
       <li><a href="{% url 'courses:index_course' %}">{% trans 'Courses' %}</a></li>
       <li><a href="{% url 'blog:portfolios' %}">{% trans 'About us' %}</a></li>
       {% if user.is_authenticated %}
       <li>
         <div class="dropdown">
           <button class="dropbtn">{{request.user}}</button>
           <div class="dropdown-content">
                <a href="">My courses</a>
             {% if user.is_staff %}
                <a href="{% url 'blog:profile' request.user.id %}">My profile</a>
                <a href="{% url 'blog:portfolio' request.user.id %}">My portfolio</a>
             {% else %}
                <a href="">My profile</a>
             {% endif %}
                <a href="{% url 'blog:logout' %}">Logout</a>
           </div>
         </div>
       </li>
       {% else %}
       <li><a href="{% url 'blog:register' %}">Sign up</a></li>
       <li><a href="{% url 'blog:login-page' %}">Login</a></li>
       {% endif %}
   </ul>
</nav>
<span class="space-menu"></span>
<script src="{% static 'blog/js/languages.js' %}"></script>
