{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
{% load i18n %} 
<section class="about-me">
    <h1>My Portfolio</h1>
    {% if request.user.id == portfolio.user.id %}
        <a href="{% url 'blog:portfolio-update' pk=portfolio.id %}">Edit portfolio</a>
    {% endif %}
    <fieldset>
        <legend>Personal Data</legend>
        <img class="img-portfolio" src="/images/{{portfolio.image}}" alt="">
        <p>Profile: </p>
        <p>User: {{ portfolio.user }}</p>
        <p>Name: {{ portfolio.name }}</p>

        <p>Description: {{ portfolio.description }}</p>
    </fieldset>
    <fieldset>
        <legend>Description</legend>
        <p>Body: {{ portfolio.body|safe }}</p>
        <label for="">Skills:</label>
        <ul>
            {% for key, value in portfolio.skills.items %}
            <li>{{value}}</li>
            {% endfor %}
        </ul>
        <label for="">Is active?</label>
        <p>{{ portfolio.is_active }}</p>
    </fieldset>
</section>
{% endblock content %}
