{% extends 'blog/base.html' %}
{% block title-header %}Portfolios{% endblock title-header %}
{% block content %}
{% load static %}
{% load i18n %} 
<section class="portfolios">
    <section class="portfolio">
        <h1>Our Developers and Teachers</h1>
        {% for portfolio in portfolios %}
            <fieldset>
                <legend>Personal Data - {{portfolio.user}}</legend>
                <img class="img-portfolio" src="/images/{{ portfolio.image }}" alt="{{portfolio.user}} img">
                
                <p>Teacher Name: {{ portfolio.name }}</p>
                <p>user: {{ portfolio.user }}</p>
                <p>Description: {{ portfolio.description }}</p>
                <label for="">Skills</label>
                <ul>
                    {% for skill, value in portfolio.skills.items %}
                    <li> {{value}} </li>
                    {% endfor %}
                </ul>
                <label for="">Link portfolio <a href="">{{portfolio.slug}}</a></label>
            </fieldset>
        {% endfor %}
    </section>
</section>
{% endblock content %}
