{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
{% load i18n %} 
<section class="portfolios">
    <section class="portfolio">
        {% for portfolio in portfolios %}
            <fieldset>
                <legend>Personal Data - {{portfolio.user}}</legend>
                <p>{{ portfolio.image|safe }}</p>
                <label for="">Teacher:</label>
                <p>{{ portfolio.user }}</p>
                <label for="">Name:</label>
                <p>{{ portfolio.name }}</p>
                <label for="">Description:</label>
                <p>{{ portfolio.description }}</p>
                <label for="">Skills</label>
                <ul>
                    {% for skill, value in portfolio.skills.items %}
                    <li> {{value}} </li>
                    {% endfor %}
                </ul>
                <label for="">Link portfolio</label>
                <a href="">{{ portfolio.slug }}</a>
            </fieldset>
        {% endfor %}
    </section>
</section>
{% endblock content %}
