{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
{% load i18n %} 
<section class="about-me">
    <h1>My profile</h1>
    <fieldset>
        <legend>Personal Data</legend>
        <label for="">Profile:</label>
        <p>{{ portfolio.image|safe }}</p>
        <label for="">User: </label>
        <p>{{ portfolio.user }}</p>
        <label for="">Name:</label>
        <p>{{ portfolio.name }}</p>
        <label for="">Creation:</label>
        <p>{{ portfolio.date }}</p>
        <label for="">Creation:</label>
        <p>{{ portfolio.description }}</p>
    </fieldset>
    <fieldset>
        <legend>Description</legend>
        <label for="">Body:</label>
        <p>{{ portfolio.body|safe }}</p>
        <label for="">Skills:</label>
        <p>{{ portfolio.skills }}</p>
        <label for="">Is active?</label>
        <p>{{ portfolio.is_active }}</p>
    </fieldset>
</section>
{% endblock content %}
