{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
{% load i18n %} 
<section class="about-me">
    {% if request.user.id == profile.user.id %}
        <a href="{% url 'blog:profile-update' id=profile.id  %}">Update profile</a>
    {% endif %}
    <h1>My Profile</h1>
    <fieldset>
        <legend>Personal data</legend>
        <p>My avatar:</p>
        <img class="img-profile" src="/images/{{profile.avatar}}" alt="">
        <p>User name: {{ profile.user }}</p>
    </fieldset>

    <fieldset>
        <legend>About me</legend>
        <p>Title: {{ profile.title }}</p>
        <p>Mi bio: {{ profile.bio }}</p>
        <p>My cv: <a href="/images/{{profile.cv}}" download="{{profile.cv}}">Download</a></p>
    </fieldset>
</section>
{% endblock content %}
