{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
{% load i18n %} 
<section class="about-me">
    <h1>My Profile</h1>
    <fieldset>
        <legend>Personal data</legend>
        <label for="">My avatar:</label>
        <p>{{ profile.avatar|safe }}</p>
        <label for="">User name:</label>
        <p>{{ profile.user }}</p>
    </fieldset>

    <fieldset>
        <legend>About me</legend>
        <label for="">Title:</label>
        <p>{{ profile.title }}</p>
        <label for="">Mi bio:</label>
        <p>{{ profile.bio }}</p>
        <label for="">My cv:</label>
        <p>{{ profile.cv }}</p>
    </fieldset>
</section>
{% endblock content %}
