{% extends 'blog/base.html' %}
{% block content %}
<form action="" method="POST">{% csrf_token %}
    
    {{ form.username.label }}
    {{ form.username }}
    
    {{ form.first_name.label }}
    {{ form.first_name }}

    {{ form.last_name.label }}
    {{ form.last_name }}

    {{ form.email.label }}
    {{ form.email }}

    {{ form.password1.label }}
    {{ form.password1 }}

    {{ form.password2.label }}
    {{ form.password2 }}
    <input type="submit" value="Register">
    
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <strong>  
                    {{ error|escape }} <br>
                </strong>

            {% endfor %}
        {% endfor %}
    {% endif %}
    <p>are you already registered? <a href="{% url 'blog:login-page' %}">Login</a> </p>
</form>
{% endblock %}
