{% load static %}
{% load i18n %}
<h2 class="courses-header">Courses</h2>
<p class="courses-paragraph">{% trans 'The courses are for all' %}</p>

<header class="courses">
    <div class="courses-available">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        {% for course in courses %}
        <div class="course course-{{course.pk }}">
            <div class="course-container">
                <div class="course-logo">
                    <img src="{{ course.image.url }}" alt="{{ course.course_name }}"/>
                </div>
                <p class="course-name">{% trans 'Course' %}: <strong> {{ course.course_name }} </strong></p>
                <p class="age">{% trans 'Age' %}: <strong>{% trans 'from 12 year old(recommended)' %}</strong></p>
                <p class="description">{% trans 'Description: {{ course.description }}' %}</p>
                <a href="{% url "courses:index_course" %}">{% trans 'Read more' %}</a> 
            </div>
        </div>
        {% endfor %}
        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
        </div>
    </div>
    <div class="navigation">
        <label for="radio1" class="navigation-btn"></label>
        <label for="radio2" class="navigation-btn"></label>
        <label for="radio3" class="navigation-btn"></label>
        <label for="radio4" class="navigation-btn"></label>
    </div>
</header>
<script type="text/javascript">
    let counter = 1;
    setInterval(function(){
        document.getElementById('radio' + counter).checked = true;
        counter++;
    if(counter > 4){counter = 1;}
    }, 5000);
</script>
