{% load static %}
{% load i18n %}
<h2 class="courses-header">Courses</h2>
<p class="courses-paragraph">{% trans 'The courses are for all' %}</p>
<header class="courses">
    <div class="courses-available">
        {% for course in courses %}
            <div class="course course-{{course.pk }}">
                <div class="course-container">
                    <div class="course-logo">
                        <img src="{{ course.image.url }}" alt="{{ course.course_name }}"/>
                    </div>
                    <p class="course-name"><strong>Course: {{ course.course_name }}</strong></p>
                    <p class="age">{% trans 'Age' %}: {% trans 'from 12 year old' %}</p>
                    <a href="{% url "courses:index_course" %}">{% trans 'Read more' %}</a> 
                </div>
            </div>
        {% endfor %}
        <div class="buttons-change">
            <div class="arrow left-arrow">
                <svg width="24" height="90">
                    <line class="upper-side" x1="24" y1="0" x2="2" y2="46"></line>
                    <line class="lower-side" x1="2" y1="44" x2="24" y2="90"></line>
                </svg>
            </div>
            <div class="arrow right-arrow">
                <svg width="24" height="90">
                    <line class="upper-side" x1="0" y1="0" x2="22" y2="46"></line>
                    <line class="lower-side" x1="0" y1="90" x2="22" y2="44"></line>
                </svg>
            </div>
        </div>
    </div>
    <div class="navigation-auto">
        {% for course in courses %}
            <div id="radio-selection">
                <input type="radio" name="radio-btn" id="radio{{course.pk}}" value="{{course.pk}}">
            </div>
        {% endfor %}
    </div>
</header>
<script src="{% static 'blog/js/slices.js' %}"></script>
