.container-products{
    width: 80%;
    text-align: center;
    margin: 4rem auto;
}

.product-name{
    font-size: 2rem;
}

.product-details{
}

.product-price{
    font-size: 1.5rem;
}

.button-price{
    display: block;
    width: 8rem;
    height: 1.5rem;
    background-color: #0C0D13;
    border-radius: 1rem;
    border: 2px solid #00AEFF;
    text-decoration: none;
    color: #00AEFF;
    margin: 0 auto;
}

.button-price:hover{
    background-color: #00AEFF;
    color: #0C0D13;
    border: 2px solid #0C0D13;
}
