<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Skynet118</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv='X-UA-Compatible' content='IE-edge'> 
  <link rel="stylesheet" type= "text/css" href="{% static "payments/style.css" %}">
  <link rel="stylesheet" type= "text/css" href="{% static "payments/media.css" %}">
</head>
<body>
    {% include "payments/menu_var.html" %}

    {% block payment_content %}

    {% endblock payment_content %}

    {% include "payments/footer_payment.html" %}

</body>

</html>




