{% extends 'payments/base_payment.html' %}
{% block payment_content %}
	<section class="info-customer">
		<form action="">
			<fieldset>
				<legend>Information</legend>
				<input type="text" placeholder="Name" value="">
				<input type="email" placeholder="Email" value="">
				<input type="tel" placeholder="Telephone" value="">
			</fieldset>
			<fieldset>
				<h3>information course</h3>
				<label for="">You selected: {{ course.course_name }}</label>
				<br>
				<label for="">Do you want to change the course?</label>
				<br>
				<label for="my-courses">choose a course:</label>
			</fieldset>

		</form>
	</section>
	<a class="go-pricing" href="{% url 'courses:index_course' %}">Go to pricing</a>
    <div class="container-products">
       <div class="img-product">
	      <img src="{{ course.image.url }}" alt="{{course.course_name}}">
       </div>
       <div class="purchase-info">
          <h3>{{ course.course_name }} course</h3>
		  <p>Number of lessons: {{package.nro_lessons}}</p>
          <h4 class="product-price" >Total: ${{package.price}} </h4>
          <div id="paypal-button-container">
          </div>
       </div>
    </div>


    <script src="https://www.paypal.com/sdk/js?client-id=AWw0wNEoQtKQsAlFgFUjx59Qs7CZSCujq01Ml-cysbffLlvHpFHPcqg1lKNRO5SffFKszQeZVqQ56G77&currency=USD"></script>
    <script>

        function getCookie(name){
            let cookieValue = null;
        	if (document.cookie && document.cookie !== '') {
            	const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
	    			}
            	}
        	}
        	return cookieValue;
	    }
		const csrftoken = getCookie('csrftoken'); 
        let total = '1.0'
        let course_id = '{{course.id}}'

        function complete_order(){
            let url = "{% url 'payments:complete' %}"
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
                },
                body: JSON.stringify({'course_id': course_id})
            })
        }

      // Render the PayPal button into #paypal-button-container
      paypal.Buttons({

          // Set up the transaction
          createOrder: function(data, actions) {
              return actions.order.create({
                  purchase_units: [{
                      amount: {
                          value: total 
                      }
                  }]
              });
          },

          // Finalize the transaction
          onApprove: function(data, actions) {
              return actions.order.capture().then(function(orderData) {
                  // Successful capture! For demo purposes:
                  console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                  var transaction = orderData.purchase_units[0].payments.captures[0];
                  complete_order()
                  alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                  // Replace the above to show a success message within this page, e.g.
                  // const element = document.getElementById('paypal-button-container');
                  // element.innerHTML = '';
                  // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                  // Or go to another URL:  actions.redirect('thank_you.html');
              });
          }
      }).render('#paypal-button-container');
    </script>  
{% endblock payment_content %}
