{% extends 'payments/base_payment.html' %}
{% block payment_content %}
{% load static %}
<section class="payment_details">
    <img src="{% static 'payments/images/payment_successful.png' %}" alt="">
    <h1>Your payment was successful</h1>
    <fieldset>
        <legend><h2>Details</h2></legend>
        <section>
            <p>Hello, {{purchase.name}}, the details of your purchase:</p>
        </section>
        <section>
            <p><strong>Purchase id: </strong>{{purchase.purchase_id}}</p>
        </section>
        <section>
            <p><strong>Code state: </strong>{{purchase.cod_state}}</p>
        </section>   
        <section>
            <p><strong>Course: </strong>{{purchase.course}}</p>
        </section>    
        <section>
            <p><strong>Package: </strong>{{purchase.package}}</p>
        </section>    
        <section>
            <label for=""></label>
            <p><strong>Total: </strong>${{purchase.total}}</p>
        </section>    
        <section>
            <p><strong>State: </strong>{{purchase.state}}</p>
        </section>   
        <section>
            {% if not user.is_authenticated %}
                <p>Login to start learning 
                <a href="{% url 'blog:login-page' %}"><strong>here</strong></a> 
                or if you don't have an account, create one 
                <a href="{% url 'blog:register' %}"><strong>here</strong></a></p>
            {% else %}
                <a href="{% url 'blog:index' %}">Go Home</a>
            {% endif %}
            <p>** Do not show to anyone your purchase id</p>
        </section>
    </fieldset>
</section>
{% endblock payment_content %}
