{% extends 'payments/base_payment.html' %}
{% block payment_content %}
    <div class="container-products">
        <div class="row-product">
            {% for course in courses %}
            <div class="product-details">
                <h4 class="product-name">{{ course.name}}</h4>
				<div class="product-img">
                	<img src={{course.image_url}} alt="">
				</div>
                <hr>
                <p class="product-description">{{course.description}}</p>
                <hr>
                <h4 class="product-price">${{course.price}}</h4>
                <a href="{% url 'payments:checkout' course.id %}" class="button-price">Buy Now!</a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock payment_content %}
