.list-courses{
    margin: 4rem auto;
    width: 90%;
}

.list-courses ul{
    list-style-type: none;    
}

.course-description{
    margin: 0 auto;
    width: 40%;
}

.list-price-available{
    display: flex;    
    background-color: #f2f2f2;
    margin: 2rem auto;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
} 

.price{
    padding: 1rem;
    min-width: 250px;
    max-width: 450px;
}

.price ul{
    list-style-type: none;
    background-color: white;
    padding: 0;
    margin: 0;
    transition: .5s;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
}

.price ul:hover{
    box-shadow: 0 20px 40px 0 rgba(0,0,0, 0.5);
}

.price ul li{
    border: 1px solid grey;
    padding: 1rem 0;
}

.package-name{background-color: black; color: white;}
.Basic{ background-color: black; color: white;}
.Regular{ background-color: red; color: white;}
.Recommended{ background-color: blue; color: white;}
.Premium{ background-color: green; color: white;}

.price p {
    word-wrap: break-word;
}


.link-buy{
    background-color: white;
    padding: 0.5rem 2rem;
    color: black; 
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none; 
}

.link-buy:hover{
    background-color: black;
    color: white; 
}

.course-description fieldset{
    border: 2px solid var(--turquoise);
    margin: 2rem auto;
}

.title-course{
    text-align: center;
}

.pricing{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    text-decoration: none;
    background-color: #006FB2;
    color: white;
    font-size: var(--text-size);
    border: 1px solid var(--turquoise);
    border-radius: 5px;
    padding: 5px;
}

.pricing:hover{
    background-color: var(--turquoise);
}
