@media (max-width: 1440px){
    
}


@media (max-width: 1198px){
    .payment_details{
        width: 70%; 
    }
}


@media (max-width: 898px){
    .payment_details{
        width: 80%; 
    }
}

@media (max-width: 740px){
    .payment_details{
        width: 90%; 
    }
}

@media(max-width: 680px){

}

@media(max-width: 414px){
    .payment_details{
        width: 95%; 
    }
}

