/* Particles js */

.particles-section{
  width: 100%;
  height: 500px;
}

#particles-js {
  height: 100%;
  background-color: #014A8E;
  background-image: url("../../static/blog/images/nico.png");
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: center;
}

/* =================== */

/* The content section */

.header-description{
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.courses {
    height: 40rem;
    border-radius: 5px;
    margin: 2rem auto;
    width: 80%;
    overflow: hidden;
}

.header-description p, .about-us p, .courses p{
    margin: 1rem 4rem;
}

.courses-header{
    text-align: center;
}

.courses-paragraph{
  background-color: white; 
}

.courses-available {
    width: 500%;
    height: 40rem;
    display: flex;
}

.courses-available input{
    display: none;    
}

.course {
  min-width: 16rem;
  width: 20%;
  text-align: center; 
  box-shadow: 0 2px 5px gray;
  opacity: 0.75;
  color: #00AEFF;
  max-height: 28rem;
  transition: 2s;
}

.course-container{
  background-color: #0C0D13;
  width: 50%;
  margin: auto;
  height: 100%;
  border-radius: 2rem;
}

.course:hover{
  opacity: 1;
}


.course img{
  width: 20%;
  height: 20%;
}

.navigation{
    display: flex;
    position: absolute;
    width: 20%; 
    margin: -10rem auto auto;
    left: 0;
    right: 0;
    justify-content: center;
}

.navigation-btn{
    border: 2px solid #00AEFF;
    background-color: #0C0D13;
    padding: 3px;
    border-radius: 1rem;
    cursor: pointer;
    width: 30px;
    transition: 1s;
}


.navigation-btn:not(:last-child){
    margin-right: 3rem;
}

.navigation-btn:hover{
    border: 2px solid #0C0D13;
    background-color: #00AEFF;
}

#radio1:checked ~ .first{margin-left: 0;}
#radio2:checked ~ .first{margin-left: -20%;}
#radio3:checked ~ .first{margin-left: -40%;}      
#radio4:checked ~ .first{margin-left: -60%;}  

.navigation-auto{
    display: flex;
    position: absolute;
    width: 20%; 
    margin: 30rem auto;
    left: 0;
    right: 0;
    justify-content: center;
}

.navigation-auto div{
    border: 2px solid #00AEFF;
    background-color: #0C0D13;
    padding: 3px;
    border-radius: 1rem;
    cursor: pointer;
    width: 30px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 3rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #00AEFF; 
    border: 2px solid #0C0D13;
    z-index:1;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #00AEFF; 
    border: 2px solid #0C0D13;
    z-index:1;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #00AEFF; 
    border: 2px solid #0C0D13;
    z-index:1;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #00AEFF;
    border: 2px solid #0C0D13;
    z-index:1;
}

.about-me, .experience, .education{
    text-align: center;
}

.about-me img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.programming-skill, .software-skills, .languages-skills{
    text-align: center;
    margin: 2rem auto;
}
.table-skills{
    width: 80%;
    margin: 0 auto;
}

.description-skill{width: 20%;}
.level-skill{width: 35%;}
.years-skill{width: 10%;}
.obs-skill{width: 35%;}

.skill-container{
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
}

.skill{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.python{width: 80%; background-color: #3571a3; border-radius: 10px;}
.sql{width: 60%; background-color: #2196F3; border-radius: 10px;}
.c_plus_plus{width: 70%; background-color: #009900; border-radius: 10px;}
.javascript{width: 75%; background-color: #ceb330; border-radius: 10px;}
.matlab{width: 60%; background-color: #a63326; border-radius: 10px;}


.linux{width: 85%; background-color: #fe6309; border-radius: 10px;}
.windows{width: 80%; background-color: #0da1ef; border-radius: 10px;}
.github{width: 80%; background-color: black; border-radius: 10px;}
.apache{width: 75%; background-color: #c51b50; border-radius: 10px;}
.django{width: 70%; background-color: #0f3e2e; border-radius: 10px;}



.english{width: 75%; background-color: #0C0D13; border-radius: 10px;}
.spanish{width: 100%; background-color: #00AEFF; border-radius: 10px;}
.russian{width: 70%; background-color: #0036a8; border-radius: 10px;}



