/* Particles js */

:root{
	--bluedark: #0C0D13;
	--bluedark2: #014A8E;
	--turquoise: #00AEFF;
	--text-size: 16px;
	--text-title: 20px;
}

.particles-section{
  width: 100%;
  height: 450px;
}

#particles-js {
  height: 100%;
  background-color: #014A8E;
  background-image: url("../../static/blog/images/nico.png");
  background-size: 5rem; background-repeat: no-repeat;
  background-position: center;
}

/* =================== */

/* The content section */
.benefits li{
    list-style-type: none;
    font-size: var(--text-title);
    margin: 20px 10px 20px 0;
    text-indent: 10px;
}
.benefits li::before{
    content: '';
    background-image: url('./images/check-mark.png');
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 10%;
}

.trial-lesson a{
    display: flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background-color: var(--turquoise);
    color: white;
    justify-content: center;
    line-height: 50px;
}

.trial-lesson a:hover{
    background-color: #3CC1FF;
    color: #eee;
}

.trial-lesson p{
    width: 250px;
    word-break: break-all;
    text-align: justify;
}

.header-description{
  display: grid;
  grid-template-areas: 'left-header right-header'
                       'header-link header-link';
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-rows: 1fr 100px;
  text-align: center;
  margin: 0 auto;
}

.right-header{
	grid-area: right-header;
}
.left-header{
	grid-area: left-header;
}

.header-link{
	grid-area: header-link;
	margin: auto auto;
}

.right-header p, .left-header p, .about-us p{
	font-size: var(--text-title);
	text-align: justify;
	text-justify: inter-word;
	text-indent: 50px;
	margin: 20px auto;
    width: 80%;
}

.left-header img{
	width: 200px;
	height: 200px;
}

.right-header img{
  width: 130px;
  height: 180px; 
}
.courses-header, .courses-paragraph{
    text-align: center;
}
.courses-paragraph{
	font-size: var(--text-title);
}


/* The about us section */
.about-us{
	text-align: center;
	margin: 0 auto;
}
#world-containe{
    width: 100%;
    height: 100%;
}

#world-map-img{
    width: 100%;
    height: 100%;
    margin: 4rem auto;
}


.courses{
    width: 60%;
    margin: 50px auto;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}


.courses-available {
    height: 100%;
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
}

.course {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center; 
  color: var(--bluedark);
  transition: .5s;
  display: none;
  z-index: 0;
}

.course-1{
	display: initial;
}

.course-container{
  width: 80%;
  margin: auto;
  height: 99%;
  transition: .5s;
}

.course-container:hover{
  box-shadow: 0 5px 10px gray;
}

.course-logo{
	width:100%;
	height: 60%;
}
.course-logo img{
	height: 80%;
	max-width: 100%;
}

.course-name, .age{
	font-size: var(--text-title);
}

.navigation-auto{
    display: flex;
    position: relative;
    width: 20%; 
    margin: auto;
    justify-content: space-around;
}

.buttons-change{
	position: relative;
	display: flex;
	justify-content: space-between;
	z-index: 10;
	margin-left: 5px;
	margin-right: 5px;
	top: 40%;
}

#left-side, #right-side{
	width:30px;
	height: 30px;
	border-radius: 15px;
	border: none;
}

/*
	Arrows styling 
*/

.arrow{ 
	transition: .7s;
	position: relative;
	width: 25px;
	height: 90px;
}

.right-arrow:hover{
	transform: translate(5px, 0);
}
.left-arrow:hover{
	transform: translate(-5px, 0);
}


.upper-side, .lower-side{
	stroke: var(--turquoise);
	stroke-width: 5px;
}

.create-account, .login-account, .profile-create{
	width: 80%;
	margin: var(--text-title) auto;
	text-align: center;
}

.img-profile{
    height: 200px;
    border-radius: 50%;
}

.img-portfolio{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    margin: 4rem auto;
}

.create-account section, 
.login-account section, 
.profile-create section
{
	margin: 20px 0;
}

#id_username, 
#id_first_name, 
#id_last_name, 
#id_email, 
#id_password1, 
#id_password2, 
#login_user, 
#login_password
{
	border: 1px solid var(--turquoise);
	height: 32px;
	border-radius: 5px;
	font-size: var(--text-size);
	width: 100%;
	padding: 0;
}

#id_title,
#id_bio{
    border: 1px solid var(--turquoise);
    border-radius: 5px;
    width: 100%;
    padding: 0;
}

#register-button, 
#login, 
#profile-button,
#buttonReset
{
	border: 1px solid var(--turquoise);
	border-radius: 5px;
	color: white;
	background-color: var(--bluedark2);
	height: 32px;
	width: 100%;
    cursor: pointer;
}

#register-button:hover, 
#login:hover, 
#profile-button:hover,
#buttonReset:hover
{
	color: var(--bluedark2);
	background-color: white;
}

.about-me fieldset, 
.portfolios fieldset,
.portfolio-update fieldset,
.reset-password fieldset 
{
	border: 2px solid var(--turquoise);
	margin: 2rem auto;
    border-radius: 10px;
}

#cke_id_body{
    width:100% !important;
}

.portfolio h1{
    text-align: center;
}

.kids-achievements, .benefits{
    margin: 4rem auto;
}

.achievement-container{
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.achievement{
    width: 250px;
    text-align: center;
    margin: 1rem auto;
    border: 2px solid var(--bluedark);
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    height: 180px;
}

.achievement:hover{
    box-shadow: 0 5px 10px gray;
}

.achievement img{
    display: block;
    margin: auto;
    width: 96px;
    height: 96px;
    border-radius: 50%;
}
