/* Particles js */

:root{
	--bluedark: #0C0D13;
	--bluedark2: #014A8E;
	--turquoise: #00AEFF;
	--text-size: 16px;
	--text-title: 24px;
}

.particles-section{
  width: 100%;
  height: 450px;
}

#particles-js {
  height: 100%;
  background-color: #014A8E;
  background-image: url("../../static/blog/images/nico.png");
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: center;
}

/* =================== */

/* The content section */

.header-description{
  display: grid;
  grid-template-areas: 'left-header right-header'
 					   'header-link header-link';
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-rows: 1fr 100px;
  text-align: center;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.title-blog{
	text-align: center;
}

.right-header{
	grid-area: right-header;
}
.right-header{
	grid-area: left-header;
}

.header-link{
	grid-area: header-link;
	margin: auto auto;
}

.right-header p, .left-header p{
	font-size: var(--text-title);
	text-align: justify;
	text-justify: inter-word;
	text-indent: 50px;
}

.right-header img{
	width: 200px;
	height: 200px;
}

.courses-header, .courses-paragraph{
    text-align: center;
}
.courses-paragraph{
	font-size: var(--text-title);
}


/* The about us section */
.about-us{
	width: 80%;
	text-align: center;

	margin: 0 auto;
}

.about-us p{
	font-size: var(--text-title);
	text-align: justify;
	text-justify: inter-word;
	text-indent: 50px;
}

.courses{
	width: 40%;
	margin: 100px auto;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
}


.courses-available {
    height: 100%;
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
}

.course {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center; 
  color: var(--bluedark);
  transition: .5s;
  display: none;
  z-index: 0;
}

.course-1{
	display: initial;
}

.course-container{
  width: 80%;
  margin: auto;
  height: 99%;
  transition: .5s;
}

.course-container:hover{
  box-shadow: 0 5px 10px gray;
}

.course-logo{
	width:100%;
	height: 60%;
}
.course-logo img{
	height: 100%;
	max-width: 100%;
}

.course-name, .age{
	font-size: var(--text-title);
}

.navigation-auto{
    display: flex;
    position: relative;
    width: 20%; 
    margin: auto;
    justify-content: space-around;
}

.buttons-change{
	position: relative;
	display: flex;
	justify-content: space-between;
	z-index: 10;
	margin-left: 5px;
	margin-right: 5px;
	top: 40%;
}

#left-side, #right-side{
	width:30px;
	height: 30px;
	border-radius: 15px;
	border: none;
}

/*
	Arrows styling 
*/

.arrow{ 
	transition: .7s;
	position: relative;
	width: 25px;
	height: 90px;
}

.right-arrow:hover{
	transform: translate(5px, 0);
}
.left-arrow:hover{
	transform: translate(-5px, 0);
}


.upper-side, .lower-side{
	stroke: var(--turquoise);
	stroke-width: 5px;
}

.about-me, .experience, .education{
	width: 80%;
    text-align: center;
	margin: 0 auto;
}

.about-me-text{
	text-align: justify;
	text-indent: 40px;
}

.about-me img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.programming-skill, .software-skills, .languages-skills{
    text-align: center;
    margin: 2rem auto;
}
.table-skills{
    width: 80%;
    margin: 0 auto;
}

.description-skill{width: 20%;}
.level-skill{width: 35%;}
.years-skill{width: 10%;}
.obs-skill{width: 35%;}

.skill-container{
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
}

.skill{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.python{width: 80%; background-color: #3571a3; border-radius: 10px;}
.sql{width: 60%; background-color: #2196F3; border-radius: 10px;}
.c_plus_plus{width: 70%; background-color: #009900; border-radius: 10px;}
.javascript{width: 75%; background-color: #ceb330; border-radius: 10px;}
.matlab{width: 60%; background-color: #a63326; border-radius: 10px;}

.linux{width: 85%; background-color: #fe6309; border-radius: 10px;}
.windows{width: 80%; background-color: #0da1ef; border-radius: 10px;}
.github{width: 80%; background-color: black; border-radius: 10px;}
.apache{width: 75%; background-color: #c51b50; border-radius: 10px;}
.django{width: 70%; background-color: #0f3e2e; border-radius: 10px;}

.english{width: 75%; background-color: #0C0D13; border-radius: 10px;}
.spanish{width: 100%; background-color: #00AEFF; border-radius: 10px;}
.russian{width: 70%; background-color: #0036a8; border-radius: 10px;}

.create-account, .login-account{
	width: 80%;
	margin: var(--text-title) auto;
	text-align: center;
}

.create-account form, .login-account form{
	width: 40%;
	margin: 0 auto;
}

.create-account section, .login-account section{
	margin: 20px 0;
}

#id_username, #id_first_name, #id_last_name, #id_email, #id_password1, #id_password2, #login_user, #login_password{
	border: 1px solid var(--turquoise);
	height: 32px;
	border-radius: 5px;
	font-size: var(--text-size);
	width: 100%;
	padding: 0;
}

#register-button, #login{
	border: 1px solid var(--turquoise);
	border-radius: 5px;
	color: white;
	background-color: var(--bluedark2);
	height: 32px;
	width: 100%;
}

#register-button:hover, #login:hover{
	color: var(--bluedark2);
	background-color: white;
}
